.myButton {
  padding: 5px 15px;
  color: #000;
  background: linear-gradient(to right bottom, #ffdb4d, #deb102);
  border: 1px solid #a38305;
  border-radius: 10px;
  cursor: pointer;
  height: auto;
  display: flex;
  text-align: center;
  width: 140px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.myButton:hover {
  color: #542906; 
  transition: color 0.3s ease;
}

@media (max-width:1250px) {
  .myButton{
    padding: 5px 15px;
    font-size: 100%;
  }
}

@media (max-width:992px) {
  .myButton{
    padding: 4px 12px;
    font-size: 80%;
  }
}

@media (max-width:767px) {
  .myButton{
    padding: 3px 10px;
    font-size: 90%;
    width: 120px;
    height: 35px;
  }
}

@media (max-width:480px) {
  .myButton{
    padding: 2px 9px;
    font-size: 90%;
    width: 120px;
    height: 35px;
  }
}

@media (max-width:480px) {
  .myButton{
    padding: 2px 9px;
    font-size: 90%;
    width: 120px;
    height: 35px;
  }
}
